.banner-container {
  background-image: url(https://gw.alipayobjects.com/mdn/rms_cd276b/afts/img/A*5_LRSK8OWAQAAAAAAAAAAABkARQnAQ);
  background-repeat: no-repeat;
  background-size: cover;
  height: 512rpx;
  position: relative;
}

.slogan {
  color: #fff; 
  position: absolute;
  left: 50rpx;
  bottom: 240rpx;
  font-style: italic;
  font-size: 20px;
  font-weight: bolder;
}