.tickets-container {
  .am-tabs-pane-wrap {
    padding: 24rpx 32rpx;
    background-color: #FBFBFB;
    box-sizing: border-box;
    .ticket-container {
      margin-bottom: 32rpx;      
    }
  }

}
