.user-route {
  box-shadow: 0 2px 12px 0 rgba(153,153,153,0.11);
  border-bottom: 1px solid #EEEEEE;
  background: #FFFFFF;
  flex: 1;
  display: flex;
  height: 198.5rpx;
  .from-to {
    width: 82rpx;
    display: flex;
    flex-direction: column;
    position: relative;

    .route-line {
      border-left: 5rpx dotted #EEEEEE;
      height: 60rpx;
      position: absolute;
      left: 38rpx;
      top: 68rpx;
    }
    .from-wrap {
      flex: 1;
      align-items: center;
      justify-content: center;
      display: flex;
      .from, .to {
        width: 18rpx;
        height: 18rpx;
        border-radius: 100%;
        background-color: #0DC46E;
      }

      .to {
        background-color: #F03637;
      }
    }

  }

  .input-wrap {
    background-color: #fff;
    background: #FFFFFF;
    flex: 1;
    .line-item {
      height: 100rpx;
      display: flex;
      align-items: center;
      border-bottom: 1rpx solid #EEEEEE;

      &:last-child {
        border: none;
      }
    }

    
  }

  .switch-wrap {
    width: 96rpx;
    display:flex;
    justify-content:center;
    align-items:center;
    .icon {
      width: 30rpx;
      height: 30rpx;
    }
  }
}
